@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro-Bold.woff") format('woff'), url("../fonts/GothamPro-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro.woff") format('woff'), url("../fonts/GothamPro.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamPro-Light.woff") format('woff'), url("../fonts/GothamPro-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: 'Gotham Pro';
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.h404-title {
  font-size: 80px;
  line-height: 113px;
  display: block;
  position: relative;
  text-align: center;
  margin: 50px 0 70px;
}
.h404-title:after {
  display: block;
  content: '';
  width: 100px;
  background: #191919;
  height: 1px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.h404-text {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  display: block;
  margin-bottom: 25px;
}
.dropdow {
  display: block;
  position: relative;
  width: 250px;
  max-width: 100%;
  z-index: 10;
}
.dropdow.active .list {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 100%;
}
.dropdow .list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all 0.2s linear;
}
.dropdow .list li {
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  line-height: 39px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 10px;
  color: #191919;
  transition: all 0.2s linear;
  cursor: pointer;
}
.dropdow .list li:hover {
  background: #e0e0e0;
}
.dropdow .value {
  line-height: 60px;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 2px solid #191919;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  transition: all 0.1s linear;
  height: 60px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.dropdow .value:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/dropdown.png") no-repeat center;
}
.row {
  font-size: 0;
  display: block;
}
.col-6 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.col-12 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.col-5 {
  display: inline-block;
  vertical-align: top;
  width: 40.466667%;
}
.col-7 {
  display: inline-block;
  vertical-align: top;
  width: 58.7%;
}
.col-4 {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
}
.col-3 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.col-2 {
  width: 16.6%;
  display: inline-block;
  vertical-align: top;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-100 {
  margin-bottom: 100px;
}
.greey-block {
  background: #f7f7f7;
}
.test-table {
  width: 100%;
}
.test-table td,
.test-table th {
  font-size: 18px;
  text-align: left;
  padding: 15px 15px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.test-table td a,
.test-table th a {
  text-decoration: none;
  color: #e82323;
  font-size: inherit;
}
.container {
  width: 1200px;
  max-width: 100%;
  min-width: 320px;
  display: block;
  margin: 0 auto;
  /* overflow: hidden; */
}
body {
  overflow-x: hidden;
}
@media (max-width: 1200px) {
  .container {
    width: 1024px;
  }
}
@media (max-width: 1060px) {
  .container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.wrapper {
  position: relative;
  display: block;
}
.btn {
  display: block;
  border: 1px solid #191919;
  background: transparent;
  transition: all 0.2s linear;
  padding: 15px 28px 14px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  font-family: 'Gotham Pro';
  cursor: pointer;
}
.btn:hover {
  background: #339e28;
  border-color: #339e28;
  color: #fff;
}
.btn:hover .icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
@media (max-width: 1200px) {
  .btn {
    padding: 15px 20px 14px;
    letter-spacing: 0.5px;
  }
}
a.btn {
  text-decoration: none;
  color: #191919;
}
.btn-404 {
  display: table;
  margin: 0 auto 100px;
}
h1 {
  font-size: 36px;
  line-height: 100px;
  color: #191919;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
h1.margin {
  margin: 30px 0;
}
@media (max-width: 1200px) {
  h1 {
    line-height: 1.4;
    margin: 30px 0;
  }
}
@media (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }
}
hr {
  display: block;
  width: 100%;
  margin: 37px auto 46px;
  height: 1px;
  border: none;
  background: #191919;
}
hr.small {
  width: 170px;
}
hr.light {
  background: #e0e0e0;
}
@media (max-width: 768px) {
  hr {
    margin: 15px auto;
  }
}
.slick-arrow-side .slick-arrow {
  border: 1px solid #191919;
}
.slick-arrow-side .slick-arrow:hover {
  border-color: #339e28;
}
.slick-arrow-side .slick-prev {
  left: -70px;
}
.slick-arrow-side .slick-next {
  right: -70px;
}
input {
  font-family: 'Gotham Pro';
}
.input-group {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.input-group input,
.input-group textarea {
  line-height: 60px;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 2px solid #191919;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  transition: all 0.1s linear;
  height: 60px;
  position: relative;
  z-index: 2;
}
.input-group input.error,
.input-group textarea.error {
  border-color: #e82323;
}
.input-group input.valid,
.input-group textarea.valid {
  border-color: #339e28;
}
.input-group label.error {
  color: #e82323;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}
.input-group textarea {
  height: 120px;
  resize: none;
}
.input-group p:first-child {
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  transition: all 0.1s linear;
}
.input-group.active input {
  line-height: 50px;
}
.input-group.active p:first-child {
  top: 0;
}
@media (max-width: 768px) {
  .input-group input {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
  }
  .input-group p:first-child {
    font-size: 14px;
    top: 10px;
  }
}
.file-group {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.file-group:hover .btn{
  color: #fff;
  background: #339e28;
  border-color: #339e28;
}
@media (max-width: 400px) {
  .file-group {
    display: block;
    text-align: center;
  }
  .file-group .btn {
    margin: 10px auto 0;
  }
}
.file {
  position: relative;
}
.file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.checkbox-group {
  position: relative;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 27px;
}
.checkbox-group p {
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}
.checkbox-group a {
  display: inline !important;
  color: #339e28 !important;
  font-size: inherit !important;
}
@media (max-width: 768px) {
  .checkbox-group p {
    font-size: 12px;
    line-height: 20px;
  }
}
.checkbox {
  position: relative;
  width: 30px;
  margin-right: 20px;
}
.checkbox span {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #191919;
}
.checkbox span:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12px;
  height: 9px;
  background: url("../img/icons/check.png") no-repeat center;
}
.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.checkbox input:checked + span:after {
  display: block;
}
form.not-active .btn {
  background: #e0e0e0;
  border-color: #e0e0e0;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #666;
}
.overflow {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0,0,0,0.7);
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 1030px;
  max-width: 90%;
  padding: 50px 30px;
}
.modal-content form {
  text-align: left;
}
.modal-content form .checkbox-group p {
  font-size: 14px;
  line-height: 23px;
}
@media (max-width: 768px) {
  .modal-content .ya-map {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .modal-content {
    padding: 70px 15px 40px;
    max-width: 98%;
  }
}
@media (max-width: 400px) {
  .modal-content {
    padding: 70px 10px 40px;
  }
}
.modal-close {
  width: 70px;
  height: 70px;
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 100%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.2s linear;
}
.modal-close:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icons/х.png") no-repeat center;
}
.modal-close:hover {
  background-color: #339e28;
}
.modal-close:hover:after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
@media (max-height: 800px) {
  .modal-close {
    top: 0;
    bottom: auto;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 768px) {
  .modal-close {
    width: 50px;
    height: 50px;
  }
}
.modal-row .foto-block {
  padding-right: 15px;
  vertical-align: middle;
  text-align: center;
}
.modal-row .foto-block .foto {
  height: 430px;
  width: 100%;
  display: block;
  margin-bottom: 19px;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-row .foto-block .name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal-row .foto-block p {
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .modal-row .foto-block {
    display: none;
  }
}
.modal-row .content-block {
  vertical-align: middle;
  padding-left: 15px;
}
.modal-row .content-block.center {
  text-align: center;
}
.modal-row .content-block .title {
  font-size: 30px;
  line-height: 44px;
  color: #191919;
  display: block;
}
.modal-row .content-block .title span {
  display: block;
  font-size: 18px;
  color: inherit;
  line-height: 24px;
  font-weight: 300;
  color: #191919;
}
.modal-row .content-block p {
  font-size: 18px;
  font-weight: 300;
  color: #191919;
  display: block;
  line-height: 26px;
}
.modal-row .content-block p.small {
  font-size: 14px;
}
.modal-row .content-block p.medium {
  font-size: 16px;
}
.modal-row .content-block a {
  color: #191919;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.modal-row .content-block a.big {
  font-size: 30px;
  margin-top: 10px;
}
.modal-row .content-block .btn {
  margin: 15px auto;
}
@media (max-width: 768px) {
  .modal-row .content-block {
    width: 100%;
  }
  .modal-row .content-block .title {
    font-size: 24px;
    line-height: 34px;
  }
  .modal-row .content-block .title span {
    font-size: 14px !important;
    margin-top: 15px;
  }
  .modal-row .content-block p {
    font-size: 14px;
  }
  .modal-row .content-block p.small {
    font-size: 11px;
  }
  .modal-row .content-block p.medium {
    font-size: 12px;
  }
  .modal-row .content-block a.big {
    font-size: 24px;
  }
  .modal-row .content-block .btn {
    font-size: 12px;
  }
}
#individalDesign .foto-block {
  width: 40%;
}
#individalDesign .content-block {
  width: 60%;
}
#individalDesign form {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
}
#individalDesign .title span {
  font-size: 16px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  #individalDesign .foto-block {
    display: none;
  }
  #individalDesign .content-block {
    width: 100%;
    padding: 0;
  }
}
.modal-title {
  font-size: 30px;
  line-height: 34px;
  color: #191919;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
.modal-title span {
  font-size: 24px;
  font-weight: 300;
  display: block;
}
@media (max-width: 768px) {
  .modal-title {
    font-size: 22px;
    line-height: 28px;
  }
  .modal-title span {
    font-size: 18px;
  }
}
.scroll-container {
  padding: 15px;
  border: 1px solid #e0e0e0;
  color: #191919;
  font-weight: 300;
  line-height: 23px;
  height: 420px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
}
.scroll-container .scroll {
  height: 100%;
  position: relative;
  padding-right: 15px;
}
.scroll-container .ps-scrollbar-y {
  background-color: #339e28 !important;
}
@media (max-width: 768px) {
  .scroll-container {
    height: 300px;
  }
  .scroll-container p {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}
.title-80 {
  font-size: 80px;
  line-height: 113px;
  text-align: center;
  display: block;
}
@media (max-width: 768px) {
  .title-80 {
    font-size: 60px;
    line-height: 80px;
  }
}
.sub-24 {
  font-size: 24px;
  line-height: 34px;
  color: #191919;
}
@media (max-width: 768px) {
  .sub-24 {
    font-size: 18px;
    line-height: 26px;
  }
}
.title-36 {
  font-size: 36px;
  line-height: 51px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #191919;
}
.subtitle-18 {
  font-size: 18px;
  line-height: 28px;
  color: #191919;
  text-align: center;
}
.green {
  color: #339e28;
}
a.green:hover {
  text-decoration: none;
}
a.link {
  color: #191919;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}
a.link:hover {
  text-decoration: none;
}
.small-title {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 13px;
}
.small-title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 60px;
  height: 1px;
  background: #191919;
}
.small-title .title {
  font-size: 20px;
  padding-bottom: 13px;
  font-weight: 700;
  color: #191919;
}
.small-title p {
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: inherit;
  margin-bottom: 5px;
  color: #191919;
}
@media (max-width: 600px) {
  .small-title .title {
    font-size: 18px;
  }
  .small-title p {
    font-size: 14px;
    line-height: 1.4;
  }
}
.title-block {
  display: block;
  margin: 35px 0;
  text-align: center;
}
.title-block .h1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 51px;
  display: block;
}
.title-block p {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 992px) {
  .title-block .h1 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .title-block .h1 {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .title-block p {
    font-size: 16px;
    line-height: 1.4;
  }
}
@media (max-width: 500px) {
  .title-block .h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
  }
}
.video-block {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.video-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
  width: 80px;
  height: 80px;
  background: #fff;
  z-index: 3;
  border: none;
  cursor: pointer;
}
.video-btn:active {
  -webkit-transform: translate(-40px, -40px) scale(0.9);
          transform: translate(-40px, -40px) scale(0.9);
}
.video-btn:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/icons/play.png") no-repeat center;
}
.video-container {
  width: 100%;
  max-height: 100%;
}
.block__wr {
  padding: 0 15px;
  margin-bottom: 30px;
}
.block__wr.col-4 .block__img {
  height: 340px;
}
.block__img {
  height: 500px;
  width: 100%;
  background: #c4c4c4;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  transition: all 0.2s linear;
}
.block__img:hover{
  background-size: 140%
}
@media (max-width: 1024px) {
  .block__img {
    height: 450px;
  }
}
@media (max-width: 992px) {
  .block__img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .block__img {
    height: 35vw;
  }
}
.block-simple .block__content {
  text-align: center;
  display: block;
}
.block-simple .block__content a {
  display: block;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.block__content {
  position: relative;
  padding: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block__content .right {
  margin-top: -2px;
}
.block__content .right .btn {
  min-width: 145px;
  padding: 15px 19px 14px !important;
}
@media (max-width: 1200px) {
  .block__content .right .btn {
    font-size: 13px;
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .block__content .right .btn {
    width: auto;
    display: table;
    margin: 10px auto 0;
  }
}
.block__content .title {
  font-size: 16px;
  color: #191919;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 3px;
}
.block__content .title b {
  font-size: inherit;
  line-height: inherit;
}
.block__content p {
  font-weight: 300;
  font-size: 16px;
}
@media (max-width: 992px) {
  .block__content {
    text-align: center;
    display: block;
  }
}
@media (max-width: 768px) {
  .block__content p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .block__content .title {
    font-size: 16px;
  }
  .block__content br {
    display: none;
  }
}
@media (max-width: 440px) {
  .block__content .title {
    font-size: 14px;
  }
}
.novelities .block__content {
  align-items: flex-start;
}
.novelities .block__content .title {
  font-size: 18px;
  font-weight: 700;
}
.black-title {
  background: #666;
  color: #fff;
  padding: 17px 15px 15px;
  display: block;
  margin-bottom: 30px;
}
.catalog-row {
  margin-bottom: 20px;
}
.panels-catalog .block__content {
  align-items: center;
}
.panels-catalog .block__content .title {
  padding-right: 10px;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .catalog .col-4 .block__img {
    height: 300px;
  }
}
@media (max-width: 992px) {
  .catalog .col-4 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .catalog .col-4 .block__img {
    height: 40vw;
  }
}
@media (max-width: 520px) {
  .catalog .col-4 {
    width: 100%;
  }
  .catalog .col-4 .block__img {
    height: 80vw;
  }
}
.case-review img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .case-review .col-5,
  .case-review .col-7 {
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 15px;
  }
}
.bform {
  position: relative;
  padding-left: 41%;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .bform {
    padding-left: 0;
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .bform {
    margin-bottom: 25px;
  }
}
.bform__left {
  width: 42%;
  position: absolute;
  left: 0;
  top: 85px;
}
@media (max-width: 768px) {
  .bform__left {
    position: relative;
    left: auto;
    top: auto;
    width: 470px;
    display: block;
    margin: 0 auto 30px;
  }
}
@media (max-width: 600px) {
  .bform__left {
    width: 100%;
  }
}
.bform__right {
  background: #f7f7f7;
  padding: 100px 15px;
  padding-left: 23px;
}
.bform__right .title {
  font-size: 30px;
  margin-bottom: 26px;
  text-align: center;
  line-height: 1.5;
}
.bform__right .subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 19px;
  font-weight: 300;
}
.bform__right form {
  max-width: 468px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .bform__right {
    padding: 20px 15px 40px;
  }
  .bform__right .title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .bform__right .subtitle {
    font-size: 14px;
    line-height: 20px;
  }
}
.btn-green {
  width: 100%;
  display: block;
  background: #339e28;
  color: #fff;
  text-transform: uppercase;
  border-color: #339e28;
  padding: 23px 0 21px;
  font-weight: 700;
}
.btn-green:hover {
  background: #191919;
  border-color: #191919;
  color: #fff;
}
a.btn-green {
  display: table;
  text-decoration: none;
}
.bform__img {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}
@media (max-width: 500px) {
  .bform__img {
    height: 400px;
  }
}
@media (max-width: 440px) {
  .bform__img {
    height: 380px;
  }
}
.bform__img-text {
  margin-top: 20px;
  text-align: center;
}
.bform__img-text .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bform__img-text .title p {
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .bform__img-text .title {
    line-height: 1.4;
  }
}
.home__novelties {
  margin-top: 90px;
}
@media (max-width: 768px) {
  .home__novelties {
    margin-top: 50px;
  }
}
.breadcrambs {
  display: block;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0 0;
}
.breadcrambs .kama_breadcrumbs>span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.breadcrambs a {
  font-size: 14px;
  line-height: 1;
  color: #191919;
  text-decoration: none;
  margin-right: 10px;
}
.breadcrambs .kama_breadcrumbs>span:not(:last-child) a:hover {
  text-decoration: underline;
  color: #339e28;
}
.breadcrambs .kama_breadcrumbs>span:not(:last-child) a:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 10px;
  background: url("../img/icons/arrow-right.png") no-repeat center;
  background-size: 100%;
  margin-left: 10px;
}
.breadcrambs .kb_title {
  color: #666;
  cursor: default;
  pointer-events: none;
}
@media (max-width: 440px) {
  .breadcrambs a {
    font-size: 12px;
    margin-right: 5px;
  }
  .breadcrambs .kama_breadcrumbs>span:not(:last-child) a:after {
    margin-left: 5px;
  }
}
.catalog-head__img {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
}
.page-head__img {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .page-head__img {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .page-head__img {
    height: 60vw;
  }
  .breadcrambs {
    padding: 10px 10px 0;
    border: none;
  }
  .breadcrambs .kama_breadcrumbs{
    border-bottom: 1px solid #e0e0e0
  }
}
.catalog-filters {
  background: #f7f7f7;
  padding: 15px 15px 13px;
}
.catalog-filters li,
.catalog-filters span {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: #191919;
  margin-right: 15px;
}
.catalog-filters a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.catalog-filters li {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.1s linear;
}
.catalog-filters li:hover {
  color: #339e28;
}
.catalog-filters li:first-child {
  font-weight: 700;
}
.catalog-filters ul {
  display: inline-block;
  vertical-align: middle;
}
.catalog-filters span {
  margin-right: 19px;
  font-size: 16px;
  text-transform: none;
}
@media (max-width: 1200px) {
  .catalog-filters li {
    margin-bottom: 10px;
  }
  .catalog-filters span:first-child {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .catalog-filters {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .catalog-filters li {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
.numbers-list {
  width: 760px;
  display: block;
  margin: 0 auto;
}
.numbers-list li {
  display: block;
  margin-bottom: 20px;
}
.numbers-list .num {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  padding: 13px 0 12px;
  border: 1px solid #000;
}
.numbers-list p {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 60px);
  padding-left: 20px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .numbers-list {
    width: 100%;
  }
  .numbers-list p {
    font-size: 14px;
    line-height: 24px;
  }
}
.dark-vn {
  display: table;
  margin: 30px auto 50px;
  padding: 0 40px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #666;
  width: auto;
}
@media (max-width: 768px) {
  .dark-vn {
    line-height: 1.4;
    font-size: 12px;
    padding: 10px 15px;
    width: 100%;
    margin: 25px auto 10px;
  }
}
.price-list {
  background: #f7f7f7;
}
.price-list .container {
  height: 353px;
  position: relative;
}
@media (max-width: 768px) {
  .price-list {
    margin: 50px 0;
  }
  .price-list .container {
    height: auto;
    min-height: 350px;
    padding: 50px 15px;
  }
}
.price__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 70%;
}
@media (max-width: 992px) {
  .price__img {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .price__img {
    position: static;
    -webkit-transform: none;
            transform: none;
    max-width: 100%;
    display: block;
    margin: 0 auto 25px;
  }
}
.price__content {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  text-align: center;
}
.price__content .title {
  font-size: 24px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
}
.price__content p {
  font-size: 18px;
  font-weight: 300;
  display: block;
  margin-bottom: 31px;
}
.price__content .btn-green {
  border: 1px solid #339e28;
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 21px 30px 19px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.price__content .btn-green:hover {
  background: #191919;
  color: #fff;
}
@media (max-width: 768px) {
  .price__content {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    display: block;
    margin: 0 auto 25px;
  }
}
@media (max-width: 440px) {
  .price__content .title {
    font-size: 18px;
  }
  .price__content p {
    font-size: 14px;
  }
}
.products-carusel .item {
  padding: 0 15px;
  position: relative;
  height: auto !important;
}
.products-carusel .block__img {
  height: 340px;
}
@media (max-width: 1400px) {
  .products-carusel {
    padding: 0 100px;
  }
  .products-carusel .slick-prev {
    left: 0;
  }
  .products-carusel .slick-next {
    right: 0;
  }
}
@media (max-width: 768px) {
  .products-carusel {
    padding: 0;
  }
  .products-carusel .slick-arrow {
    top: 100%;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  .products-carusel .slick-prev {
    left: 15px;
  }
  .products-carusel .slick-next {
    right: 15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 700px) {
  .products-carusel .block__img {
    height: 60vw;
  }
}
.rolling-blocks__border .rolling {
  padding: 50px 0;
  border-bottom: 1px solid #e0e0e0;
}
.rolling-blocks__border .rolling:last-child {
  border: none;
}
@media (max-width: 992px) {
  .rolling-blocks__border .rolling {
    width: 100%;
  }
  .rolling-blocks__border .rolling .rolling-right,
  .rolling-blocks__border .rolling .rolling-left {
    width: 100% !important;
  }
  .rolling-blocks__border .rolling .sq-list {
    text-align: left;
    padding-left: 25px;
  }
}
.rolling-blocks.lp .rolling:nth-child(2n) {
  flex-direction: row;
}
.rolling-blocks.lp .rolling:nth-child(2n-1) {
  flex-direction: row-reverse;
}
.rolling-blocks.center p {
  text-align: center;
}
.rolling-blocks.center .btn {
  display: table;
  margin: 50px auto 0;
}
.rolling {
  display: flex;
  align-items: center;
}
.rolling:nth-child(2n) {
  flex-direction: row-reverse;
}
.rolling.lp .rolling-left {
  padding-left: 0;
  width: 52%;
}
.rolling.lp .rolling-right {
  width: 48%;
}
@media (max-width: 992px) {
  .rolling {
    display: block;
    margin-bottom: 20px;
  }
}
.rolling-left,
.rolling-right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 992px) {
  .rolling-left,
  .rolling-right {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
.rolling-img {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rolling-img.contain {
  background-size: auto;
}
@media (max-width: 768px) {
  .rolling-img {
    height: 70vw;
    background-size: contain;
  }
  .rolling-img.contain{
    background-size: contain;
  }
}
.rolling-left {
  padding: 0 15px;
}
.rolling-left .title {
  font-size: 20px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
  position: relative;
  color: #191919;
}
.rolling-left .title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 1px;
  background: #191919;
}
.rolling-left .title span {
  display: block;
  font-size: inherit;
  font-weight: 300;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 5px;
}
.rolling-left p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #191919;
}
.rolling-left p br {
  display: none;
}
@media (max-width: 768px) {
  .rolling-left .titlte {
    font-size: 18px;
  }
  .rolling-left p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 440px) {
  .rolling-left .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }
  .rolling-left p {
    font-size: 12px;
    line-height: 20px;
  }
}
.slider-light .slick-arrow {
  background: rgba(0,0,0,0.5);
}
.slider-light .slick-arrow:after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.simple-item {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px;
}
@media (max-width: 1200px) {
  .simple-item {
    height: 400px;
  }
}
@media (max-width: 992px) {
  .simple-item {
    height: 350px;
  }
}
@media (max-width: 768px) {
  .simple-item {
    height: 40vw;
  }
}
@media (max-width: 400px) {
  .simple-item {
    height: 80vw;
  }
}
.simple-slider {
  margin: 0 -15px;
}
@media (max-width: 1400px) {
  .simple-slider {
    padding: 0 100px;
  }
  .simple-slider .slick-prev {
    left: 0;
  }
  .simple-slider .slick-next {
    right: 0;
  }
}
@media (max-width: 768px) {
  .simple-slider {
    padding: 0;
  }
  .simple-slider .slick-arrow {
    top: 100%;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  .simple-slider .slick-prev {
    left: 15px;
  }
  .simple-slider .slick-next {
    right: 15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.spec-circs {
  padding: 100px 0;
  margin-bottom: 100px;
}
.spec-circs .title-block {
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  .spec-circs {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .spec-circs .col-6 {
    width: 100%;
    margin-bottom: 25px;
  }
}
.spec-circs__item {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
.spec-circs__item .img-in-block {
  width: 100px;
  min-width: 100px;
  margin-right: 30px;
}
.spec-circs__item .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.spec-circs__item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
@media (max-width: 992px) {
  .spec-circs__item p {
    font-size: 14px;
    line-height: 24px;
  }
  .spec-circs__item .title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 440px) {
  .spec-circs__item {
    display: block;
    text-align: center;
  }
  .spec-circs__item .img-in-block {
    margin: 0 auto 25px;
    display: block;
  }
}
.sq-list li {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #191919;
  position: relative;
}
.sq-list li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #191919;
  position: absolute;
  right: 100%;
  margin-right: 14px;
  top: 9px;
}
@media (max-width: 768px) {
  .sq-list {
    padding-left: 15px;
  }
  .sq-list li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}
@media (max-width: 440px) {
  .sq-list {
    font-size: 12px;
  }
}
.contact__item {
  position: relative;
  padding: 0 15px;
  margin-bottom: 50px;
}
.contact__item>.title {
  font-size: 20px;
  color: #191919;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}
@media (max-width: 992px) {
  .contact__item>.title {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contact__item {
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto 50px;
  }
  .contact__item>.title {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .contact__item:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
.contact__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 400px) {
  .contact__body {
    display: block;
    text-align: center;
  }
}
.contact__image {
  display: block;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
  min-width: 270px;
  width: 270px;
}
@media (max-width: 992px) {
  .contact__image {
    width: 180px;
    min-width: 180px;
    height: 280px;
  }
}
@media (max-width: 400px) {
  .contact__image {
    height: 200px;
    min-width: 140px;
    width: 140px;
    margin: 0 auto;
  }
}
.contact__content {
  padding: 15px 0 0 20px;
}
.contact__content .name {
  font-size: 20px;
  line-height: 1.6;
  color: #191919;
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
}
.contact__content p {
  font-size: 16px;
  color: #191919;
  display: block;
  margin-bottom: 25px;
}
.contact__content p b {
  font-weight: 700;
  display: block;
  color: inherit;
  margin-bottom: 10px;
  font-size: inherit;
}
@media (max-width: 992px) {
  .contact__content p {
    font-size: 14px;
  }
  .contact__content .name {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .contact__content {
    padding-left: 0;
  }
}
@media (max-width: 1400px) {
  .designers__slider {
    padding: 0 100px;
  }
  .designers__slider .slick-next {
    right: 10px;
  }
  .designers__slider .slick-prev {
    left: 10px;
  }
}
@media (max-width: 580px) {
  .designers__slider {
    padding: 0;
    margin-bottom: 100px;
    position: relative;
  }
  .designers__slider .slick-arrow {
    top: 100%;
    -webkit-transform: none;
            transform: none;
  }
  .designers__slider .slick-next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.designers__item {
  height: auto !important;
}
.designers__title {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  display: block;
  margin-bottom: 40px;
}
.designers__body {
  display: flex;
  align-items: flex-start;
}
.designers__body .image {
  height: 500px;
  width: 470px;
  min-width: 470px;
  margin-right: 30px;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.designers__body .content {
  padding-left: 15px;
}
.designers__body .content .title {
  font-size: 20px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
  position: relative;
  color: #191919;
}
.designers__body .content .title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 1px;
  background: #191919;
}
.designers__body .content .title span {
  display: block;
  font-size: inherit;
  font-weight: 300;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 5px;
}
.designers__body .content p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #191919;
}
@media (max-width: 992px) {
  .designers__body .content {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .designers__body .content .titlte {
    font-size: 18px;
  }
  .designers__body .content p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 440px) {
  .designers__body .content .title {
    font-size: 16px;
    font-weight: 400;
  }
  .designers__body .content p {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 1200px) {
  .designers__body {
    display: block;
  }
  .designers__body .content {
    margin-top: 15px;
    padding-left: 25px;
  }
  .designers__body .image {
    display: block;
    margin: 0 auto 25px;
  }
}
@media (max-width: 768px) {
  .designers__body .image {
    height: 300px;
  }
}
@media (max-width: 440px) {
  .designers__body .image {
    height: 270px;
  }
}
.ya-map {
  height: 500px;
  width: 100%;
  display: block;
  background: #f7f7f7;
}
.dillers__dropdown {
  display: block;
  margin: 0 auto 30px;
  width: 370px;
}
.dillers__maps {
  position: relative;
  min-height: 500px;
  width: 100%;
}
@media (max-width: 768px) {
  .dillers__maps {
    min-height: 650px;
  }
  .dillers__maps .ya-map {
    height: 300px;
  }
}
.dillers__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.dillers__map.active {
  display: block;
}
.dillers__map .info {
  position: absolute;
  width: 370px;
  height: 470px;
  background: #fff;
  top: 15px;
  z-index: 3;
  right: 15px;
  padding: 50px 20px;
  text-align: center;
}
.dillers__map .info .title {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 25px;
}
.dillers__map .info p {
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  display: block;
  margin-bottom: 20px;
  line-height: 1.6;
}
.dillers__map .info p b {
  font-weight: 700;
  font-size: inherit;
}
.dillers__map .info p .red {
  color: #e82323;
}
.dillers__map .info p a {
  font-size: inherit;
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}
@media (max-width: 768px) {
  .dillers__map .info {
    position: static;
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
.door {
  display: flex;
}
@media (max-width: 620px) {
  .door {
    display: block;
  }
}
.door__left {
  width: 370px;
  min-width: 370px;
}
@media (max-width: 768px) {
  .door__left {
    width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 650px) {
  .door__left {
    width: 260px;
    min-width: 260px;
  }
}
@media (max-width: 620px) {
  .door__left {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}
.door__right {
  width: 100%;
  padding-left: 30px;
}
.door__right p {
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  display: block;
  margin-bottom: 10px;
}
.door__right p.m {
  margin-bottom: 20px;
}
@media (max-width: 620px) {
  .door__right {
    padding-left: 0;
    text-align: center;
  }
}
.door__img {
  width: 100%;
  height: 550px;
  border: 1px solid #191919;
  position: relative;
}
.door__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.door__price {
  font-size: 24px;
  font-weight: 400;
  color: #191919;
  margin-top: 30px;
}
.door__price b {
  font-size: inherit;
  font-weight: 700;
}
.door__price .info-text {
  margin-top: 10px;
}
@media (max-width: 620px) {
  .door__price {
    text-align: center;
    font-size: 20px;
  }
  .door__price b {
    display: block;
    margin-top: 10px;
  }
}
.door__variants {
  margin-bottom: 20px;
}
.door__variants .item {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.door__variants .item span {
  background: #fff;
  display: block;
  height: 100%;
}
.door__variants .item:hover,
.door__variants .item.active {
  border-color: #191919;
}
.door__variants .door__view {
  height: 105px;
}
.door__variants .door__view span {
  background-size: 70%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
.entrence-plus .col-4 {
  text-align: center;
  padding: 0 30px;
}
.entrence-plus .img-in-block {
  margin: 0 auto 20px;
  display: block;
}
.entrence-plus .title {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #191919;
  text-align: center;
}
@media (max-width: 992px) {
  .entrence-plus .col-4 {
    padding: 0 15px;
  }
  .entrence-plus .title {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .entrence-plus .col-4 {
    padding: 0 10px;
  }
  .entrence-plus .title {
    font-size: 12px;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .entrence-plus .col-4 {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 25px;
    display: block;
  }
}
.entrence-images .col-6 {
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .entrence-images {
    margin-bottom: 50px;
  }
  .entrence-images .col-6 {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .entrence-plus {
    margin-bottom: 50px;
  }
}
.entrence-image {
  height: 500px;
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .entrence-image {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .entrence-image {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .entrence-image {
    height: 80vw;
  }
}
.fittings-item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 15px;
}
.fittings-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.fittings-item a {
  text-decoration: none;
}
.fittings-item .img {
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  position: relative;
}
.fittings-item .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90%;
  max-height: 90%;
}
.fittings-item p {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #191919;
}
.fittings-item p b {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  display: block;
}
.fittings-item.accessory .img {
  background-size: auto 80%;
}
@media (max-width: 992px) {
  .fittings-item {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .fittings-item {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .fittings-item {
    width: 33.33%;
  }
}
@media (max-width: 520px) {
  .fittings-item {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .fittings-item {
    width: 100%;
    max-width: 260px;
    margin: 0 auto 30px;
    display: block;
    text-align: center;
  }
}
.colors-row {
  font-size: 0;
  margin-bottom: 10px;
}
.colors-row .item {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.fittings-discriptions .col-6 {
  text-align: center;
  vertical-align: middle;
}
.fittings-discriptions p {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #191919;
  font-weight: 300;
}
.fittings-discriptions p b {
  font-size: inherit;
}
@media (max-width: 992px) {
  .fittings-discriptions .col-6 {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .fittings-discriptions p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .fittings-discriptions .video-block {
    height: 60vw;
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .footer__row {
    position: relative;
    padding-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .footer__row {
    display: block;
    padding-bottom: 150px;
  }
}
@media (max-width: 360px) {
  .footer__row {
    padding-bottom: 220px;
  }
}
.footer-container {
  padding-top: 50px;
  border-top: 6px solid #f7f7f7;
}
@media (max-width: 500px) {
  .footer-container {
    padding-top: 25px;
  }
}
.footer__col:first-child {
  width: 260px;
  margin-right: 40px;
}
.footer__col:first-child p {
  opacity: 0.6;
}
.footer__col:first-child img {
  margin-bottom: 50px;
}
.footer__col:first-child p,
.footer__col:first-child .coppiring {
  padding-left: 15px;
}
@media (max-width: 600px) {
  .footer__col:first-child {
    width: 100%;
    clear: both;
    margin-bottom: 50px;
  }
  .footer__col:first-child img {
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .footer__col:first-child .coppiring {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer__col:first-child img {
    margin-bottom: 10px;
  }
}
.footer__col:nth-child(2) {
  width: 600px;
}
@media (max-width: 768px) {
  .footer__col:nth-child(2) {
    width: auto;
  }
}
@media (max-width: 400px) {
  .footer__col:nth-child(2) {
    text-align: center;
  }
  .footer__col:nth-child(2) .col-4 {
    width: 50%;
  }
}
.footer__col:nth-child(3) {
  text-align: center;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .footer__col:nth-child(3) {
    position: absolute;
    bottom: 15px;
    padding-right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
  }
  .footer__col:nth-child(3) * {
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .footer__col:nth-child(3) {
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .footer__col:nth-child(3)>* {
    width: 48%;
    margin-bottom: 15px;
  }
}
@media (max-width: 360px) {
  .footer__col:nth-child(3)>* {
    width: 100%;
    max-width: 100%;
  }
}
.footer__col p,
.footer__col .coppiring {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #191919;
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer__col p,
  .footer__col .coppiring {
    font-size: 12px;
    line-height: 18px;
  }
}
.footer__ul>li>a {
  font-weight: 700;
  font-size: 16px;
}
.footer__ul>li {
  margin-bottom: 10px;
  padding-right: 30px;
}
.footer__ul ul {
  margin-bottom: 20px;
}
.footer__ul a {
  color: #191919;
  font-weight: 300;
  line-height: 1.4;
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
}
.footer__ul ul a:hover {
  color: #339e28;
  text-decoration: underline;
}
.footer__ul ul li:last-child a {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .footer__ul a {
    font-size: 12px;
  }
  .footer__ul li {
    padding-right: 0;
  }
  .footer__ul>li>a {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer__ul {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .col-4:last-child {
    width: 100% !important;
  }
  .col-4:last-child .footer__ul {
    font-size: 0;
  }
  .col-4:last-child .footer__ul li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
.footer__tel {
  font-size: 24px;
  color: #191919;
  display: block;
  text-decoration: none;
  margin-bottom: 53px;
  text-align: center;
}
@media (max-width: 992px) {
  .footer__tel {
    font-size: 16px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .footer__tel {
    font-size: 14px;
  }
}
.footer__soc {
  display: block;
  padding: 20px;
  border: 1px solid #666;
  text-align: center;
  max-width: 270px;
  margin: 0 auto 20px;
}
.footer__soc p {
  margin-bottom: 13px;
}
@media (max-width: 992px) {
  .footer__soc {
    padding: 0;
    border: none;
    margin: 0;
  }
  .footer__soc p {
    display: none;
  }
}
.soc__item {
  display: inline-block;
  vertical-align: middle;
  padding: 7px;
  border: 1px solid #191919;
}
.slider__item {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .slider__item {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .slider__item {
    height: 70vw;
  }
}
.home__slider {
  margin-bottom: 46px;
}
.slider-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  font-size: 0;
}
.slider-text .left-block {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 100px;
  background: rgba(255,255,255,0.9);
  margin-right: 2px;
  text-align: center;
  padding-top: 25px;
}
.slider-text .left-block p {
  font-size: 14px;
  line-height: 23px;
}
.slider-text .left-block p b {
  font-size: inherit;
  display: block;
  font-size: 18px;
}
.slider-text .right-block {
  display: inline-block;
  vertical-align: top;
}
.slider-text .right-block .row {
  display: block;
  margin-bottom: 2px;
  height: 49px;
  background: rgba(255,255,255,0.9);
  line-height: 50px;
  font-size: 12px;
  padding: 0 15px;
  font-weight: 300;
}
@media (max-width: 550px) {
  .slider-text {
    position: static;
    display: table;
    margin: -20px auto 20px;
    width: 100%;
  }
  .slider-text .left-block {
    margin-bottom: 2px;
  }
  .slider-text .right-block {
    width: 100%;
    text-align: center;
  }
  .slider-text .left-block,
  .slider-text .right-block .row {
    background: rgba(0,0,0,0.9);
    color: #fff;
    width: 100%;
    height: auto;
    min-height: 49px;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slider-text .left-block b,
  .slider-text .right-block .row b {
    display: block;
  }
}
.slick-arrow {
  height: 70px;
  width: 70px;
  background: #fff;
  color: #191919;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.slick-arrow:after {
  content: "";
  width: 10px;
  height: 18px;
  background: url("../img/icons/arrow.png") no-repeat center;
  position: absolute;
  left: 50%;
  transition: all 0.2s linear;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-arrow:hover {
  background: #339e28;
}
.slick-arrow:hover:after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
@media (max-width: 500px) {
  .slick-arrow {
    -webkit-transform: none;
            transform: none;
    top: auto;
    bottom: 20px;
    width: 40px;
    height: 40px;
  }
}
.slick-prev {
  left: 17px;
}
.slick-next {
  right: 17px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
@media (max-width: 500px) {
  .slick-next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.slick-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-dots li {
  display: inline-block;
  border: none;
  margin-right: 10px;
}
.slick-dots li button {
  border: none;
  font-size: 0;
  width: 30px;
  height: 2px;
  background: rgba(255,255,255,0.3);
}
.slick-dots li.slick-active button {
  background: #fff;
}
@media (max-width: 500px) {
  .slick-dots li button {
    width: 20px;
  }
}
.home__ul {
  font-size: 0;
  padding-left: 0;
}
.home__ul .item {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  padding-left: 45px;
}
.home__ul .item:before {
  content: '';
  display: block;
  background: #191919;
  position: absolute;
  left: 15px;
  top: 5px;
  width: 10px;
  height: 10px;
}
@media (max-width: 992px) {
  .home__ul .item {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .home__ul .item {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home__ul .item {
    font-size: 14px;
  }
}
.text-block {
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: #191919;
  margin-bottom: 44px;
}
.text-block.border {
  padding: 100px;
  border: 5px solid #f7f7f7;
  margin: 50px 0;
}
.text-block.border .title-block {
  margin-top: 0;
}
.text-block>p {
  font-size: inherit;
}
@media (max-width: 992px) {
  .text-block {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .text-block {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .text-block.border {
    padding: 50px;
  }
}
@media (max-width: 500px) {
  .text-block.border {
    padding: 50px 25px;
  }
}
@media (max-width: 440px) {
  .text-block.border {
    padding: 50px 15px;
  }
}
.home-reasons__left {
  text-align: center;
  padding-right: 30px;
}
.home-reasons__left img {
  margin-top: 32px;
  width: 100%;
}
@media (max-width: 992px) {
  .home-reasons__left {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .home-reasons__left img {
    display: none;
  }
}
.home__reasons {
  margin-top: 80px;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .home__reasons .home-reasons__left,
  .home__reasons .home-reasons__right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .home__reasons {
    margin: 40px 0;
  }
}
.list-icons {
  margin-top: 20px;
}
.list-icons .item {
  min-height: 100px;
  margin-bottom: 31px;
  position: relative;
  padding-left: 130px;
}
.list-icons .item:first-child .title {
  margin-bottom: 13px;
}
.list-icons .item:nth-child(2) {
  margin-bottom: 28px;
}
.list-icons .item:nth-child(2) .title {
  margin-bottom: 10px;
}
.list-icons .item:nth-child(3) {
  margin-bottom: 23px;
}
.list-icons .item:nth-child(4) {
  margin-bottom: 36px;
}
.list-icons .item:nth-child(4) .title {
  line-height: 24px;
  margin-bottom: 14px;
}
.list-icons .item:nth-child(5) .title {
  margin-bottom: 40px;
}
.list-icons .icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #e0e0e0;
}
.list-icons .icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.list-icons .title {
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin-bottom: 10px;
}
.list-icons .title b {
  font-size: 18px;
  line-height: 1;
}
.list-icons p,
.list-icons li {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.list-icons ul {
  padding-left: 20px;
}
.list-icons li {
  list-style: square;
  text-align: left;
}
@media (max-width: 768px) {
  .list-icons .title,
  .list-icons .title b {
    font-size: 16px;
    line-height: 1.4;
  }
  .list-icons p,
  .list-icons li {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .list-icons .item {
    padding-left: 0;
    text-align: center;
  }
  .list-icons .icons {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    margin: 0 auto 15px;
  }
  .list-icons ul {
    padding-left: 30px;
  }
}
.novelities {
  margin-top: 57px;
}
@media (max-width: 600px) {
  .novelities .block__wr {
    padding: 0 7px;
    margin-bottom: 15px;
    width: 100%;
  }
  .novelities .block__img {
    height: 60vw;
  }
}
.home__bform {
  margin-top: 53px;
}
@media (max-width: 768px) {
  .home__bform {
    background: #f7f7f7;
  }
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon-right {
  width: 4px;
  height: 10px;
  background: url("../img/icons/arrow-right.png") no-repeat center;
  margin-left: 10px;
}
.img-in-block {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid #191919;
  padding: 20px 0;
  text-align: center;
}
.img-in-block img {
  max-width: 83%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.life-videos .col-6:first-child {
  padding-right: 15px;
}
.life-videos .col-6:last-child {
  padding-left: 15px;
}
@media (max-width: 768px) {
  .life-videos .col-6 {
    width: 100%;
    padding: 0 !important;
    margin-bottom: 15px;
  }
}
@media (max-width: 440px) {
  .life-videos .video-block {
    height: 55vw;
  }
}
.n-solutions-items .col-6 {
  margin-bottom: 30px;
}
.n-solutions-items .block__content p {
  line-height: 26px;
  padding-right: 15px;
}
.header {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
.fl-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .fl-row {
    align-items: flex-end;
  }
}
@media (max-width: 500px) {
  .fl-row {
    padding-top: 5px;
  }
}
.nav__list {
  padding-top: 40px;
  z-index: 10;
  padding-left: 12px;
}
.nav__list>li>a:hover {
  border-color: transparent;
}
.nav__list>li.current-menu-parent>a,
.nav__list>li.current-menu-item>a {
  border-bottom: 2px solid #339e28;
}
.nav__list li {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.nav__list li:hover .sub-menu {
  z-index: 11;
  -webkit-transform: scale(1) translateY(5px);
          transform: scale(1) translateY(5px);
  top: 100%;
}
.nav__list a {
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 5px 0px 5px 0;
  margin-right: 36px;
  border-bottom: 2px solid transparent;
  letter-spacing: 1px;
  z-index: 10;
}
.nav__list a:after {
  content: "\f107";
  position: absolute;
  right: -16px;
  top: 50%;
  font-size: 12px;
  font-weight: 700;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  color: #bdbdbd;
}
@media (min-width: 992px) {
  .nav__list {
    display: block !important;
  }
}
@media (max-width: 1200px) {
  .nav__list a {
    margin-right: 15px;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .nav__list a:after {
    right: -10px;
  }
}
@media (max-width: 992px) {
  .nav__list {
    display: none;
    background: #fff;
    padding: 10px 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    margin-top: 15px;
    box-shadow: 0 2px 25px rgba(0,0,0,0.1);
  }
  .nav__list a:after {
    right: 10px;
  }
  .nav__list li {
    display: block;
    padding: 0 10px;
  }
  .nav__list li:hover ul {
    display: block;
    margin-bottom: 15px;
  }
  .nav__list>li>a {
    padding: 10px 0;
    padding-right: 30px;
    margin: 0;
    font-size: 14px;
    display: block;
    font-weight: 400;
  }
  .nav__list li:not(:last-child) a {
    border-bottom: 1px solid #e0e0e0;
  }
}
@media (max-width: 500px) {
  .nav__list {
    left: 0;
  }
}
@media (max-width: 500px) {
  .header__right {
    padding-top: 20px;
  }
}
.header__nav .burger {
  display: none;
  outline: none;
}
@media (max-width: 992px) {
  .header__nav {
    position: absolute;
    left: 130px;
    top: 62px;
  }
  .header__nav .burger {
    display: block;
    border: none;
    width: 40px;
    position: relative;
    height: 26px;
    background: none;
    /* overflow: hidden; */
  }
  .header__nav .burger span{
    position: absolute;
    top: 11px;
    /* transform: translateY(-1px); */
    height: 3px;
    left: 0;
    width: 100%;
    background: #191919;
    transition: all 0.2s linear;
  }
  .header__nav .burger:after,
  .header__nav .burger:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    background: #191919;
    transition: all 0.2s linear;
  }
  .header__nav .burger:after{
    top: 0;
  }
  .header__nav .burger:before{
    bottom: 0;
  }
  .header__nav.active .burger span  {
    left: -100%;
    opacity: 0;
  }
  .header__nav.active .burger:after {
    transform: rotate(-45deg) translateY(-1px);
    top: 50%;
  }

  .header__nav.active .burger:before {
    transform: rotate(45deg) translateY(1px);
    bottom: 50%;
  }
}
@media (max-width: 500px) {
  .header__logo img{
    height: 70px;
    width: auto;
  }
  .header__right .btn{
    display: none;
  }
  .header__nav{
    top: 30px;
    left: 10px;
  }
  .header__right{
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
  }
  .header__right a{
    display: inline!important;
  }
}
.header__right a {
  letter-spacing: 0.4px;
  font-size: 24px;
  line-height: 28px;
  color: #191919;
  font-weight: 400;
  text-align: right;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .header__right a {
    font-size: 21px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .header__right a {
    font-size: 0;
    margin-right: 10px;
  }
  .header__right a:after{
    content: '\f095';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
  }
  .header__right .btn {
    font-size: 12px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .header__logo{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}
.sub-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #fff;
  transition: all 0.2s linear;
  border: 1px solid #e0e0e0;
  padding-right: 0;
}
.sub-menu li {
  display: block;
}
.sub-menu a {
  font-size: 16px;
  font-weight: 300;
  min-width: 250px;
  line-height: 40px;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  padding: 0 15px 0;
  margin: 0;
  text-transform: none;
  transition: all 0.2s linear;
  color: #191919;
}
.sub-menu a:hover {
  background: #339e28;
  color: #fff;
}
.sub-menu a:after {
  display: none;
}
@media (max-width: 992px) {
  .sub-menu {
    position: static;
    display: none;
    -webkit-transform: none;
            transform: none;
  }
  .sub-menu a {
    min-width: 100%;
  }
}
.review {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .review {
    display: block;
  }
}
.review__slider {
  width: 470px;
  min-width: 470px;
  height: 500px;
}
@media (max-width: 992px) {
  .review__slider {
    width: 100%;
    display: block;
    height: 700px;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .review__slider {
    height: 70vw;
  }
}
.review__wr {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.review__wr:last-child {
  margin-bottom: 0;
}
.review__image {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .review__image {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .review__image {
    height: 70vw;
  }
}
.review__title {
  text-align: center;
  display: block;
  margin-bottom: 40px;
  display: block;
  font-size: 24px;
  font-weight: 300;
}
.review__content {
  padding-left: 60px;
  padding-top: 10px;
}
.review__content .title {
  font-size: 20px;
  padding-bottom: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
  position: relative;
  color: #191919;
}
.review__content .title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 60px;
  height: 1px;
  background: #191919;
}
.review__content .title span {
  display: block;
  font-size: inherit;
  font-weight: 300;
  color: inherit;
  margin-top: 8px;
  margin-bottom: 5px;
}
.review__content p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #191919;
}
@media (max-width: 992px) {
  .review__content {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .review__content .titlte {
    font-size: 18px;
  }
  .review__content p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 440px) {
  .review__content .title {
    font-size: 16px;
    font-weight: 400;
  }
  .review__content p {
    font-size: 12px;
    line-height: 20px;
  }
}
.other-reviews {
  display: flex;
  align-items: stretch;
  height: 490px;
}
.other-reviews .slick-prev {
  left: -90px;
}
.other-reviews .slick-next {
  right: -90px;
}
.other-reviews .item {
  position: relative;
  padding: 20px;
  min-height: 490px;
  border: 1px solid #f7f7f7;
}
.other-reviews .item .date {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  font-weight: 300;
  color: #666;
}
.other-reviews .item .title {
  font-size: 16px;
  display: block;
  font-weight: 700;
  color: #191919;
  margin-bottom: 25px;
}
.other-reviews .item p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .other-reviews {
    padding: 0 100px;
  }
  .other-reviews .slick-next {
    right: 0;
  }
  .other-reviews .slick-prev {
    left: 0;
  }
}
@media (max-width: 992px) {
  .other-reviews .item p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .other-reviews {
    max-height: 350px;
    display: block;
  }
  .other-reviews .item {
    min-height: 300px;
    padding-bottom: 15px;
  }
  .other-reviews .item .date {
    position: static;
    margin-top: 20px;
  }
}
@media (max-width: 560px) {
  .other-reviews {
    padding: 0;
    margin-bottom: 30px;
    max-height: 440px;
  }
  .other-reviews .slick-arrow {
    top: 100%;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  .other-reviews .slick-next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.new-reviews {
  background: #f7f7f7;
}
.new-reviews .wrap {
  width: 630px;
  max-width: 100%;
  display: block;
  padding: 100px 15px;
  margin: 0 auto;
}
.new-reviews .title {
  font-size: 30px;
  font-weight: 400;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.new-reviews .subtitle {
  font-size: 18px;
  line-height: 1.4;
  color: #000;
  font-weight: 300;
  display: block;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
.texture {
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .texture {
    width: 50%;
  }
}
@media (max-width: 520px) {
  .texture {
    width: 100%;
    padding: 0;
  }
}
.texture__img {
  height: 340px;
  margin-bottom: 20px;
  background: #e0e0e0;
  display: block;
  width: 100%;
}
@media (max-width: 768px) {
  .texture__img {
    height: 40vw;
  }
}
@media (max-width: 520px) {
  .texture__img {
    height: 80vw;
  }
}
.texture__content p {
  font-size: 14px;
  line-height: 23px;
  color: #666;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
}
.texture__content .btn {
  display: table;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .texture__content p {
    font-size: 12px;
    line-height: 20px;
  }
}
.transom-image p {
  padding: 0 10px;
  font-size: 16px;
  line-height: 26px;
  color: #191919;
  display: block;
  margin-top: 20px;
}
.transom-image .img {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (max-width: 992px) {
  .transom-image .img {
    background-size: 90%;
    height: 300px;
  }
  .transom-image p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 650px) {
  .transom-image .col-3 {
    width: 50%;
    margin-bottom: 25px;
    text-align: center;
  }
  .transom-image .img {
    background-size: auto 100%;
  }
}
@media (max-width: 400px) {
  .transom-image {
    margin: 15px 0 50px;
  }
  .transom-image .col-3 {
    width: 100%;
  }
}
.where__list {
  display: block;
  font-size: 0;
  text-align: center;
  margin-bottom: 20px;
}
.where__list li {
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  padding: 16px 24px 12px;
  color: #191919;
  border: 1px solid #191919;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s linear;
  cursor: pointer;
}
.where__list li.active,
.where__list li:hover {
  background: #f7f7f7;
}
.where__list li:hover {
  background: #339e28;
  color: #fff;
}
.where__list li:not(:last-child) {
  border-right: none;
}
@media (max-width: 992px) {
  .where__list {
    padding: 0 20px;
  }
  .where__list li {
    margin: 0 5px 5px;
    border-right: 1px solid #191919 !important;
  }
  .where__list li.active {
    border-color: #e0e0e0 !important;
  }
}
.where__tabs .tab {
  height: 500px;
  position: relative;
  display: none;
}
.where__tabs .tab.active {
  display: block;
}
.where__tabs .tab .map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.where__tabs .tab .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: #e0e0e0;
  z-index: 2;
}
.where__tabs .tab .info {
  position: absolute;
  width: 370px;
  height: 470px;
  background: #fff;
  top: 15px;
  z-index: 3;
  right: 15px;
  padding: 50px 20px;
  text-align: center;
}
.where__tabs .tab .info .title {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 25px;
}
.where__tabs .tab .info p {
  font-size: 16px;
  font-weight: 300;
  color: #191919;
  display: block;
  margin-bottom: 20px;
  line-height: 1.6;
}
.where__tabs .tab .info p b {
  font-weight: 700;
  font-size: inherit;
}
.where__tabs .tab .info p .red {
  color: #e82323;
}
.where__tabs .tab .info p a {
  font-size: inherit;
  font-weight: 400;
  color: #191919;
  text-decoration: none;
}
.where__tabs .tab .info .btn {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .where__tabs .tab {
    height: 300px;
  }
  .where__tabs .tab .info {
    width: 100%;
    position: static;
    margin-top: 15px;
  }
  .where__tabs .map__wr {
    display: block;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .where {
    padding-bottom: 400px;
    margin: 50px 0;
  }
}
@media (max-width: 440px) {
  .where {
    padding-bottom: 500px;
  }
}

#furniture .modal-content{
  width: 630px;
}

#furniture .modal-furniture-title{
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #191919;
  margin-bottom: 20px;
}
#furniture .modal-furniture-title .name{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  display: block;
}
.modal-furniture-content {
  color: #191919;
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin: 20px 0;
  line-height: 24px;
}

#furniture .modal-furniture-img{
  height: 400px;
  background-size: contain;
  background-position: center;
  display: block;
  margin-top: 20px;
  background-repeat: no-repeat;
}
.furniture-arrows .arrow-prev,
.furniture-arrows .arrow-next {
  height: 70px;
  width: 70px;
  background: #fff;
  color: #191919;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.furniture-arrows .arrow-prev{
  right: 100%;
  margin-right: 15px;
}
.furniture-arrows .arrow-next{
  left: 100%;
  margin-left: 15px;
}
.furniture-arrows .arrow-prev:after,
.furniture-arrows .arrow-next::after {
    content: "";
    width: 10px;
    height: 18px;
    background: url(../img/icons/arrow.png) no-repeat center;
    position: absolute;
    left: 50%;
    transition: all 0.2s linear;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.furniture-arrows .arrow-next::after {
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
}
.catalog-3 .col-3 .block__img{
  height: 300px;
  background-size: contain;
  background-color: #fff;
  cursor: pointer;
}
.news-page .page-head__img{
  height: 670px;
}
@media screen and (max-width: 992px) {
  .news-page .page-head__img{
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .news-page .page-head__img{
    height: 60vw
  }
}
